<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Document</title>
</head>
<body>

  <!-- <input type="text" [(ngModel)]="title"> -->
  <!-- <h1 >GrandParent Component </h1>
 <app-body [Data]="title"></app-body>
<ul>
<li routerLinkActive="active" ><a routerLink="/user"></a></li> 
</ul> -->
<app-header></app-header>

<router-outlet></router-outlet>


</body>
</html>


